@font-face {
    font-family: "iconfont"; /* Project id 2908079 */
    src: url('https://at.alicdn.com/t/font_2908079_n2qvz4y3wcd.ttf?t=1635948426549') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  
  